$arkea-primary: (
    50 : #f9e1e4,
    100 : #f1b3bb,
    200 : #e8808e,
    300 : #df4d61,
    400 : #d8273f,
    500 : #d1011d,
    600 : #cc011a,
    700 : #c60115,
    800 : #c00111,
    900 : #b5000a,
    A100 : #ffdede,
    A200 : #ffabac,
    A400 : #ff787a,
    A700 : #ff5e61,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$arkea-accent: (
    50 : #eceeee,
    100 : #d0d4d6,
    200 : #b1b8ba,
    300 : #929c9e,
    400 : #7a868a,
    500 : #637175,
    600 : #5b696d,
    700 : #515e62,
    800 : #475458,
    900 : #354245,
    A100 : #9ceafd,
    A200 : #69dffc,
    A400 : #34d6ff,
    A700 : #1ad1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($arkea-primary);
$app-accent: mat-palette($arkea-accent);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include angular-material-theme($app-theme);