// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */

$material-primary: mat-palette($mat-blue);
$material-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$material-warn: mat-palette($mat-red);

$material-theme: mat-light-theme(
  (
    color: (
      primary: $material-primary,
      accent: $material-accent,
      warn: $material-warn,
    ),
  )
);

@include mat-input-theme($material-theme);
@include mat-form-field-theme($material-theme);
// @include mat-button-theme($material-theme);

@import "./sass/material-variables.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
